@charset "utf-8";
.a-share,
.a-share *,
.in-share-cp *{margin:0;padding:0;font:12px/1.5 Microsoft YaHei,tahoma,arial,\5b8b\4f53;border:0;font-style:normal}
.in-share-custom{height: 24px; }
.a-share{position:relative;}
.a-share .in-share-icon1{display:inline-block;cursor:pointer;height: 24px;width: 24px;margin:0 4px 0 0;  }
.a-share .in-share-icon1:hover{filter:Alpha(opacity=75);-moz-opacity:0.75;opacity:0.75;}
.a-share .in-share-qzone{background-position: 0 -338px ;}
.a-share .in-share-sinaminiblog{background-position: 0 -390px ;}
.a-share .in-share-renren{background-position: 0 -364px ;}
.a-share .in-share-kaixin{background-position: 0 -182px ;}
.a-share .in-share-qqminiblog{background-position: 0 -286px ;}
.a-share .in-share-douban{background-position: 0 -52px ;}
.a-share .in-share-more{display:inline-block;height: 24px;width:auto;cursor:pointer;margin:0 4px 0 0;background:url(/images/more-style-icon.gif) no-repeat;}
.a-share .in-share-count{color: #444444; display: inline-block;font-family: Arial,sans-serif;font-size: 12px;font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 24px;
    padding: 0 8px;
    text-align: center;
    vertical-align: top;
   }
.a-share .in-share-icon2{display:inline-block;width:54px;padding:5px 0 2px;margin:0 18px 0 0;text-align:center;overflow:hidden;text-decoration:none;color:#000;cursor:pointer;}
.a-share .in-share-icon2:hover{text-decoration:none;filter:Alpha(opacity=75);-moz-opacity:0.75;opacity:0.75;background-color:#efefef;}
.in-share-box{position:absolute;top:25px;left:0px;padding:3px;background: url(/images/background.png); border-radius: 2px;width:300px;z-index:1000;overflow:hidden;}
.a-share .in-share-morebox{margin:0 0 0 10px;width:280px;height:62px;border-top:1px solid #efefef;overflow:hidden;}
.a-share .in-share-moreinnerbox{padding:2px 0 0;width:300px;}
.a-share .in-share-ad{width:300px;overflow:hidden;}
.a-share .in-share-icon2 em{display:block;margin:0 auto;height: 32px;width: 32px;background:url(/images/logos_sprite2.gif) no-repeat;overflow:hidden;}
.a-share em.qzone{background-position:0 -442px;}
.a-share em.qqminiblog{background-position:0 -374px;}
.a-share em.sinaminiblog{background-position:0 -510px;}
.a-share em.douban{background-position:0 -68px;}
.a-share em.renren{background-position:0 -476px;}
.a-share em.kaixin{background-position:0 -238px;}
.a-share em.qqpengyou{background-position:0 -408px;}
.a-share .in-share-icon2 span{display:block;height:18px;font-size:12px;line-height:18px;overflow:hidden;}
.a-share .in-share-sbox{position:relative;background-color:#fff;_height:1%;width:300px;}
.a-share .in-share-sbox .in-share-close{position:absolute;right:5px;top:5px;width:21px;height:22px;background: url(/images/close_a.gif) no-repeat 0 0;text-indent:-5000px;}
.in-share-cp{position:absolute;overflow:hidden;padding:4px;background: url(/images/background.png);border-radius:3px;color:#666;z-index:9999}
.in-share-cp .in-share-cpbd{background-color:#fff;border-radius:3px;position:relative;_height:1%;}
.in-share-cp .in-s-close{font-size:26px;position:absolute;right:5px;top:2px;width:21px;height:22px;color:#333;text-decoration:none;text-align:center;}
.in-share-cp .in-s-close:hover{text-decoration:none;}
.in-share-cp .in-s-title{height:24px;line-height:24px;text-align:center;background-color:#f5f5f5;border-bottom:1px solid #e5e5e5;border-radius:3px 3px 0 0;}
.in-share-cp .in-s-count{padding:10px 10px 0;text-align:right;font-size:14px;color:#333;}
.in-share-cp .in-s-count em{color:#ff0000;font-weight:700;}
.in-share-cp .in-s-text{padding:0 10px 10px;}
.in-share-cp .in-s-text textarea{width:100%;border:1px solid #ccc;height:80px;}
.in-share-cp .in-s-shareimgbtn{padding:0 10px;}
.in-share-cp .in-s-shareimgbtn a{padding:0 0 0 18px;color:#238eb8;background:#fff url(/images/icon_aa.png) no-repeat 0 -22px;text-decoration:none;}
.in-share-cp .in-s-shareimgbtn a:hover{text-decoration:none;}
.in-share-cp .in-s-shareimgbtn a.on{background:#fff url(/images/icon_aa.png) no-repeat 0 -47px;}
.in-share-cp .in-s-shareimg{padding:10px 10px 0;height:100px;} 
.in-share-cp .in-s-shareimg a{position:relative;display:inline-block;margin:0 5px 0 0;padding:4px;border:1px solid #d2d2d2;width:90px;height:90px;text-align:center;vertical-align:middle}
.in-share-cp .in-s-shareimg a.ok{border:1px solid #ef953f;}
.in-share-cp .in-s-shareimg a.ok span{position:absolute;left:5px;bottom:5px;width:15px;height:14px;background:url(/images/icon_aa.png) no-repeat 0 0;_background:url(/images/icon_aa1.png) no-repeat 0 0;}
.in-share-cp .in-s-agreeebox{padding:10px 10px;position:relative;}
.in-share-cp .in-s-agreee{padding:10px 0;border-top:1px dotted #ccc;}
.in-share-cp .in-s-agreee input{vertical-align:middle;}
.in-share-cp .in-s-agreee label{padding:0 0 0 5px;vertical-align:middle;}
.in-share-cp .in-s-submit{position:absolute;right:20px;top:18px;}
.in-share-cp .in-s-submit a{display:block;width:62px;height:26px;background:#fff url(images/fx_btn.png) no-repeat 0 0;text-indent:-5000px;}
.in-share-cp .in-s-foot{padding:0 20px 0 0;height:24px;line-height:24px;text-align:right;background-color:#f5f5f5;border-top:1px solid #e5e5e5;border-radius: 0 03px 3px;display:none;}
.in-share-cp .in-share-iframeloading{position:absolute;height:100%;padding:160px 0 0;width:100%;text-align:center;background:#fff url(/images/loading.gif) no-repeat center center;}
.in-s-close{background:url('../images/close.png') no-repeat;background-size:100%;}