@{
    ViewBag.Title = "Home Page";
}
<br /><br /><br /><br /><br /><br /><br /><br /><br />


<img src="http://images.philips.com/is/image/PhilipsConsumer/F400021953-FIL-global-001?size=190,120&align=-1,-1&$jpglarge$" alt="1" />
<img src="http://images.philips.com/is/image/PhilipsConsumer/F400021953-FIL-global-001?size=190,120&align=-1,-1&$jpglarge$" alt="1" />

<div class="a-share" uid="107"></div>
<script type="text/javascript" src="/scripts/philips-22.js?id=5"></script>