
@{
    Layout = null;
    string psnsname = (string)Session["snsname"];
    string ptext = (string)Session["pagedesc"];
    int ptype = (int)TempData["ptype"];
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="P3P" content='CP="IDC DSP COR CURa ADMa  OUR IND PHY ONL COM STA"'>
    <link href="~/Content/H5share.min.css" rel="stylesheet" />
    <link href="~/fonts/iconfont.css" rel="stylesheet" />
	<style>
	.success_failure{height:435px;}
	.successfull{background:url('../../images/1.jpg') no-repeat;background-size:inherit;}
	.xinlang{float:left;background:url('../../images/xinlang.png') no-repeat;background-size:100%;width:32px;height:32px;}
	.charsLeft{color:#f60;}
	.shareImg{width:96%;position:absolute;left:15px;bottom:12px;overflow:hidden;height:72px;}
	.shareImg li{width:70px;height:70px;float:left;border:1px solid #ccc;margin-right:10px;}
	.shareImg li a{display:block;width:100%;height:100%;}
	.shareImg li a img{width:100%;height:100%;background-size:100%;}
	</style>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>

</head>
<body>
   @if (ptype == 0)
   {
        <div>
        @using (Html.BeginForm("OnSubmit", "Share", FormMethod.Post))
        {
            <div class="qr_sina" style="display:block">
                <div class="content">
                    <h2 style="overflow:hidden;width:190px;margin:0 auto;">
                        <a href="javascript:;" class="xinlang"></a>
                        <a style="float:left;margin-left:10px;font-size:22px;line-height:32px;">新浪微博分享</a>
                    </h2>
                    <div class="text in-s-text" style="position:relative;">
                        <textarea name="txbShare">@ptext</textarea>
			<ul class="shareImg">
			    <li>
				<a><img src="../../images/xinlang.png"/></a>
			    </li>
			    <li>
				<a><img src="../../images/1.jpg"/></a>
			    </li>
			</ul>
                    </div>
                    <div style="overflow:hidden;margin:15px 0;">
			<div class="text_num" style="float:right;">
                            <p>还可以输入<span  class="charsLeft">200</span>字</p>
                    	</div>
                   	<div class="checked" style="float:left;">
                            <div class="attention">
                            	<input type="checkbox" checked="checked" name="cbfollow"/>
                            	<label>是否关注飞利浦中国</label>
                            </div>
                    	</div>
		    </div>

                    <div class="btn">
                        <input style="padding:6px 25px;" class="btn_share" type="submit" value="分享" name="submitshare"/>
                    </div>
                </div>
            </div>
        }

    </div>
        }
    else if (ptype == 1)
        {
       <div class="success_failure successfull">
            <div class="success">
                <div class="success_content" style="padding-top:170px;">
                    <i></i>
                    <h2 class="iconfont icon-duigou1">分享成功 </h2>
                </div>
                <!--<p class="time">页面将会在3秒后自动关闭</p>-->
            </div>
        </div>
    }
        else
        {
        <div class="success_failure">
            <div class="failure">
                <div class="failure_content" style="padding-top:170px;">
                    <i></i>
                    <h2 class="iconfont icon-cuowu1">分享失败</h2>
                </div>
                <!--<p class="time">页面将会在3秒后自动关闭 @TempData["ecode"]</p>-->
            </div>
        </div>
     }
 



    <script type="text/javascript">

        $(function () {

            var limitnum = 140;
            var text = $(".in-s-text textarea").val();
            var counter = text.length;
            if ((limitnum - counter) <= 0) {
                var num = $(".in-s-text textarea").val().substr(0, limitnum);
                $(".in-s-text textarea").val(num);
                $(".charsLeft").text(0);
            }
            $(".charsLeft").text(limitnum - counter);
            $(document).keyup(function () {
                var text = $(".in-s-text textarea").val();
                var counter = text.length;
                if ((limitnum - counter) <= 0) {
                    var num = $(".in-s-text textarea").val().substr(0, limitnum);
                    $(".in-s-text textarea").val(num);
                    $(".charsLeft").text(0);
                } else {
                    $(".charsLeft").text(limitnum - counter);
                }
            });
            $('.in-s-shareimgbtn').find('a').bind("click", function () {
                $(this).toggleClass("on");
                $('.in-s-shareimg').toggle();
                if ($('.in-s-shareimg').css("display") == "none") {
                    $("input[name=hdimg]").attr("value", "");
                } else {
                    $("input[name=hdimg]").attr("value", $(".in-s-shareimg .ok").find("img").attr("src"));
                }
                //alert($("input[name=hdimg]").attr("value"));
            });
           /* $('.in-s-shareimg').find('a').live("click", function () {
                $('.in-s-shareimg').find('a').removeClass();
                $(this).addClass("ok");
                $("input[name=hdimg]").attr("value", $(this).find("img").attr("src"));
                //alert("11" + $("input[name=hdimg]").attr("value"));
            })*/


            $("a").bind("focus", function () {
                if (this.blur) { this.blur() };
            });

            var url = window.location.href;
            var thiscs = url.split('?');
            var thisqs = "";
            for (k = 0; k < thiscs.length; k++) {
                if (k != 0) {
                    thisqs = thisqs + thiscs[k];
                }
            }
            $(".in-s-shareimgbtn,.in-s-shareimg").hide(); //最多分享5张图片
            if (thisqs) {
                var pairs = thisqs.split('&');
                for (i = 0; i < pairs.length; i++) {
                    var pair = pairs[i].split('=');
                    if (pair[0] == "shareimg" && pair[1] != "") {
                        var showimgs = pair[1].split(';');
                        //alert();
                        for (j = 0; j < showimgs.length; j++) {
                            var unitimg = showimgs[j].split(',');
                            $("<a>").attr("href", "javascript:void(0);").append($("<span>")).append($("<img>").attr("src", decodeURIComponent(unitimg[0])).attr("width", (unitimg[1] >= 1) ? "90" : Math.floor(unitimg[1] * 90)).attr("height", (unitimg[1] >= 1) ? Math.floor(90 / unitimg[1]) : "90").css("margin-top", (unitimg[1] >= 1) ? (90 - Math.floor(90 / unitimg[1])) / 2 : "0"))
                                .appendTo($(".in-s-shareimg"));
                        }
                        $(".in-s-shareimg").find("a:first").addClass("ok");
                        $(".in-s-shareimgbtn,.in-s-shareimg").show();
                        $("input[name=hdimg]").attr("value", $(".in-s-shareimg .ok").find("img").attr("src"));
                    }
                }
            }
        });
    </script>
    </body>
</html>
